@model Projekt_Zespolowy.Models.Offer

@{
    ViewData["Title"] = "OfferDetails";
}

<h1>OfferDetails</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnline)
        </dd>
    </dl>
</div>

